* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.div1 {
    background-image: url(/assets/image\ 6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;   
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: navbarUp 1s ease-in-out forwards;
}

.logo img {
    height: 3em;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 1em;
    font-weight: 700;
    font-size: 16px;
}

.nav-btn button {
    background-color: white;
    color: black;
    padding: 0.5em 2em;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav-btn button a{
    text-decoration: none;
    color: black;
}

.nav-btn button:hover {
    background-color:rgba(255, 255, 255, 0);
    border: solid 1px rgb(255, 255, 255);
}
.nav-btn button a:hover{
    color: white;
}
.home-head img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 10% auto;
    opacity: 0;
    animation: fadeInSlideUp 3s ease-in-out forwards;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        left: -100%;
        top: 5.5rem;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0);
        width: 100%;
        text-align: right;
        font-family: 'Poppins',sans-serif;
        transition: 0.3s;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-item {
        margin: 1.5rem 0;
    }
    .nav-links li{
        padding: 0.5em;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }

    .nav-btn {
        display: flex;
    }
    .home-head img {
        max-width: 80%;
        height: 10em;
        display: block;
        margin-top: 50% ;
        opacity: 0;
        animation: fadeInSlideUp 3s ease-in-out forwards;
    }

}

@keyframes fadeInSlideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes navbarUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}