*{
    margin: 0;
    padding: 0;
}
.div1{
    background-image: url(https://img.freepik.com/free-photo/bermuda-triangle-mystery-event_23-2151625806.jpg?t=st=1720618055~exp=1720621655~hmac=7fa380dd3a60958d297688ba7a409776a40b4012f0240c8683b2c8d77fa2b6ff&w=900);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;   
}
.navbar{
    background-color: rgba(0, 0, 0, 0.2);
    padding-bottom: 2em;
}
.logo img{
    height: 3em;
    margin-top: 1.5em;
    margin-left: 10em;
}
.nav-item{
    margin-left: 28em;
    margin-top: -2.5em;
}
.nav-link{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.nav-link a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1em;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.nav-btn{
    margin-left: 68em;
    margin-top: -1.5em;
}
.nav-btn button{
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 4px;
    border: 0px;
}
.nav-btn button a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.home{
    margin-left: 18em;
    margin-top: 10em;
    color: white;
}
.home h2{
    font-size: 60px;
    font-family: 'CARIBBEAN TOOL', sans-serif;
}
.home-head h2{
    font-size: 80px;
    font-family: 'PiratesBlackbeard', sans-serif;
}
.title{
    margin-left: 31em;
    margin-top: -12.75em;
}
.title h2{
    font-size: 200px;
}